@mixin theme-light {
	--bg: var(--surface-0);
	--fg: var(--text-primary);
	--border: var(--border-color);

	--bg-hover: var(--surface-2);
	--fg-hover: var(--text-primary);

	--success-bg: var(--success-bg);

	--btn-primary-bg: var(--macro-protein);
	--btn-primary-fg: var(--surface-0);
	--btn-primary-bg-hover: var(--primary-hover);

	--btn-secondary-bg: var(--danger-color);
	--btn-secondary-fg: var(--surface-0);
	--btn-secondary-bg-hover: var(--danger-fg);

	--card-radius: 12px;
	--shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.1);

	--spin-duration: 20s;
}

@mixin theme-dark {
	--bg: var(--surface-1);
	--fg: var(--text-primary);
	--border: var(--border-color);

	--bg-hover: var(--surface-2);
	--fg-hover: var(--text-primary);

	--success-bg: var(--success-bg);

	--btn-primary-bg: var(--primary-color);
	--btn-primary-fg: var(--surface-0);
	--btn-primary-bg-hover: var(--primary-hover);

	--btn-secondary-bg: var(--danger-color);
	--btn-secondary-fg: var(--surface-0);
	--btn-secondary-bg-hover: var(--danger-fg);

	--card-radius: 12px;
	--shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.35);

	--spin-duration: 12s;
}
